@import "../../shared/scss/vars";
@import "../../shared/scss/mixins";

.task-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.task-list__item {
    background: $blue;
    border-bottom: 1px solid $blue-lt;
}

.task-list__item-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.task-list__item .icon {
    margin-left: auto;
    flex-shrink: 0;
}

.task-list__toggle {

    cursor: pointer;
    transition: all .2s;

    &:hover {
        background: #000;
    }

    .material-icons {
        transition: all .2s;
    }

    .task-list__item--expanded & {
        .material-icons {
            transform: rotate(180deg);
        }
    }
}