@import "shared/scss/global";
@import "shared/scss/mixins";
@import "shared/scss/vars";

.site-header {
    padding: 1rem; }

.site-main {
    background: $blue; }

.icon {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.icon .material-icons {
    position: absolute;
}

.icon--bg .material-icons {
    color: black;
}
.icon--bg {}

.icon--bg-complete {
    background: greenyellow;
}
.icon--bg-idle     {
    background: mediumpurple;
    opacity: 0.3;
}
.icon--bg-error    {
    background: red;
}
.icon--bg-active   {
    background: #2196f3;
}

.svg-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
}
