@import "shared/scss/global";

.site-header {
    padding: 1rem; }

.site-main {
    background: #0e1a28; }

.task-list {
    margin: 0;
    list-style: none;
    padding: 0; }

.task-list__item {
    background: #04264b;
    border-bottom: 1px solid #174479;
}

.task-list__item-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.task-list__item .icon {
    margin-left: auto;
    flex-shrink: 0;
}

.icon {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.icon .material-icons {
    position: absolute;
}

.icon--bg .material-icons {
    color: black;
}
.icon--bg {}

.icon--bg-complete {
    background: greenyellow;
}
.icon--bg-idle     {
    background: mediumpurple;
    opacity: 0.3;
}
.icon--bg-error    {
    background: red;
}
.icon--bg-active   {
    background: #2196f3;
}

.runnables {

}

.runnables__item {
    padding: .5rem;
}

.svg-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
}
